.action{
    .content{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
    .isWin{
        color: white;
        display: block;
        text-align: center;
        font-size: 40px;
    }
    .options{
        display: flex;
        align-items: center;
        justify-content: center;
        margin-top: 30px;
        flex-direction: column;
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-300%, -120%);
        .item{
            display: flex;
            align-items: center;
            flex-direction: column-reverse;
            margin-bottom: 18px;
            img{
                width: 30px;
                height: 30px;
            }
            &:last-child{
                margin: 0;
            }
            &:hover{
                cursor: pointer;
            }
            .title{
                color: white;
                font-size: 20px;
            }
        }
    }
    }
.disable-hint{
    opacity: 0.8;
    pointer-events: none;
}
}

:host-context(.modal-context) .options {
    flex-direction: row !important;
    transform: translate(-99px, 3px) !important;
    align-items: baseline !important;
    .item{
        margin-right: 20px !important;
        margin-bottom: 0 !important;
        &:last-child{
            margin: 0 !important;
        }
        &.hint-item{
            display: none !important;
        }
    }
  }