.game{
    .hangman{
        transform: translate(-97px, -142px);
        .boards{
            .floor{
                width: 130px;
                height: 10px;
                background-color: white;
            }
            .vertical{
                width: 10px;
                height: 353px;
                background-color: white;
                margin: auto;
            }
            .horizontal{
                height: 10px;
                width: 300px;
                top: -2px;
                left: 34px;
                position: absolute;
                background-color: white;
                margin: auto;
            }
            .plane{
                height: 10px;
                width: 80px;
                top: -2px;
                left: 34px;
                position: absolute;
                background-color: white;
                margin: auto;
                transform: rotate(-45deg) translate(-8px, 33px);
            }
            .rope{
                height: 90px;
                width: 10px;
                background-color: white;
                position: absolute;
                top: 0;
                right: 0;
                transform: translateX(78px);
                display: none;
            }
            .head{
                position: absolute;
                top: 0;
                right: 0;
                transform: translate(102px, 70px);
                display: none;
                .rope-1{
                    width: 57px;
                    height: 12px;
                    background-color: white;
                    border-radius: 50px;
                    transform: translate(0px, 67px);
                }
            .head-cont{
                width: 50px;
                height: 50px;
                border: 4px solid white;
                border-radius: 50%;
                position: relative;
                background: #0088aa;
                transform: rotate(20deg);
                .eyes{
                    display: flex;
                    justify-content: space-around;
                    transform: translateY(10px);
                .eye{
                    width: 15px;
                    height: 15px;
                    background-color: white;
                    border-radius: 50%;
                }
                .eye-1{
                    width: 15px;
                    height: 15px;
                    background-color: white;
                    border-radius: 50%;
                }
                }
                .mouth{
                    width: 20px;
                    height: 4px;
                    background-color: white;
                    transform: translate(15px, 20px);
                    border-radius: 10px;
                }
                
            }
            }
            .body{
                .body-part{
                    width: 10px;
                    height: 144px;
                    background-color: white;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(76px, 145px);
                    display: none;
                }
                .hand{
                    width: 7px;
                    height: 62px;
                    background-color: white;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(51px, 145px) rotate(45deg);
                    display: none;
                }
                .hand-1{
                    width: 7px;
                    height: 62px;
                    background-color: white;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(97px, 145px) rotate(-45deg);
                    display: none;
                }
                .leg{
                    width: 7px;
                    height: 62px;
                    background-color: white;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(97px, 274px) rotate(-45deg);
                    display: none;
                }
                .leg-1{
                    width: 7px;
                    height: 62px;
                    background-color: white;
                    position: absolute;
                    top: 0;
                    right: 0;
                    transform: translate(51px, 274px) rotate(45deg);
                    display: none;
                }
            }
        }
    }
    .letters{
        display: flex;
    flex-wrap: wrap;
    position: absolute;
    width: 400px;
    left: 0;
    transform: translateX(-126px);
        .letter{
            margin: 4px;
            display: block;
            width: 40px;
            height: 40px;
            background-color: white;
            border-radius: 50%;
            color: black;
            font-weight: 700;
            text-align: center;
            font-size: 30px;
            &:hover{
                cursor: pointer;
            }
        }
    }
    .displayed-part{
        display: block !important;
    }
    .word{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, 3000%);
    display: flex;
    justify-content: center;
    width: 350px;
        .letter{
            display: block;
            width: 30px;
            height: 4px;
            background-color: white;
            margin-right: 15px;
            color: white;
            font-size: 35px;
            display: flex;
            flex-direction: column-reverse;
            text-align: center;
            font-weight: 700;
            .letter-1{
                opacity: 0;
                &.visible{
                    opacity: 1;
                }
            }
        }
    }
}