<div class="game">
    <div class="hangman">
        <div class="boards">
            <div class="vertical"></div>
            <div class="horizontal"></div>
            <div class="plane"></div>
            <div class="rope"></div>
            <div class="head">
                <div class="rope-1"></div>
                <div class="head-cont">
                <div class="eyes">
                <div class="eye"></div>
                <div class="eye-1"></div>
            </div>
            <div class="mouth"></div>

            </div>
            </div>
            <div class="body">
                <div class="body-part"></div>
                <div class="hand"></div>
                <div class="hand-1"></div>
                <div class="leg"></div>
                <div class="leg-1"></div>
            </div>
            <div class="floor"></div>
        </div>
    </div>
    <div class="word">
        <span *ngFor="let letter of choosed.value | stringToArray" class="letter"><span [ngClass]="{'visible': clickedLetter===letter}" class="letter-1">{{letter}}</span></span>
    </div>
   <div class="letters">
       <span (click)="clickLetter(letter)" *ngFor="let letter of letters" class="letter">{{letter.value}}</span>
   </div>
</div>
