<div class="game">
    <span class="hint">{{choosed.hint}}</span>
    <div class="hangman">
        <div class="boards">
            <div class="vertical"></div>
            <div class="horizontal"></div>
            <div class="plane"></div>
            <div [ngClass]="{'displayed-part': showParts>0}" class="rope"></div>
            <div [ngClass]="{'displayed-part': showParts>1}" class="head">
                <div class="rope-1"></div>
                <div class="head-cont">
                    <div class="eyes">
                        <div class="eye"></div>
                        <div class="eye-1"></div>
                    </div>
                    <div class="mouth"></div>

                </div>
            </div>
            <div class="body">
                <div [ngClass]="{'displayed-part': showParts > 2}" class="body-part"></div>
                <div [ngClass]="{'displayed-part': showParts > 3 }" class="hand"></div>
                <div [ngClass]="{'displayed-part': showParts > 4}" class="hand-1"></div>
                <div [ngClass]="{'displayed-part': showParts > 5}" class="leg"></div>
                <div [ngClass]="{'displayed-part': showParts > 6}" class="leg-1"></div>
            </div>
            <div class="floor"></div>
        </div>
    </div>
    <div class="word">
        <span *ngFor="let lets of letter" class="letter"><span [ngClass]="{'visible': lets.active }" class="letter-1">{{lets.value}}</span></span>
    </div>
    <div class="letters">
        <span (click)="clickLetter(letter)" *ngFor="let letter of letters" class="letter" [ngClass]="{'correct': letter.active===true, 'wrong': letter.active===false, 'default': letter.active===undefined}">{{letter.value}}</span>
    </div>
<app-action [disableHint]="disableHint" (showLetterEmmiter)="showLetterEmitter($event)"></app-action>
</div>
