<div class="options">
    <a class="go-back" routerLink="/"><span><img class="left" src="../../../assets/images/left.png" alt=""> Home</span></a>

    <div class="options-block">
        <span class="choose">Choose an option</span>
        <div *ngFor="let arr of options; let index = index" class="part">
            <p class="part-title">
                <span class="title">{{arr.title}}</span>
                 <span (click)="activate(arr.title)" [ngClass]="{'active-shadow': arr.selected}" class="shadow">
                     <span [ngClass]="{'active-circle': arr.selected}"  class="circle"></span>
                    </span>
                </p>
        </div>
        <a class="continue" (click)="continue()">Continue</a>

    </div>
</div>
