.phone{
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 442px;
    .phone-content{
        position: relative;
    .phone-img{
        width: 100%;
        background: black;
        border-radius: 68px;
    }
    .router-outlet{
        position: absolute;
        left: 50%;
        top: 50%;
        transform: translate(-50%, -50%);
        z-index: 9;
        .line{
            display: block;
            width: 150px;
            height: 4px;
            background-color: white;
            position: absolute;
            top: 50%;
            right: 50%;
            z-index: 9;
            transform: translate(50%,410px);
            border-radius: 10px;
        }
        .indicators{
            position: absolute;
            left: 50%;
            top: 50%;
            transform: translate(132%, -3204%);
            width: 79px;
            height: 13px;
        }
    }
    }
}